

@main("Community Tool Management Systems - About Us"){

<center>
    <p><b>***************************** About Us *****************************</b></p>
</center>

<br>

    <p>
        <center>
        <b>
            Community Tool Management Systems was launched in the year 2015 as a project for CUNYTechPrep.
            It is designed to help you share your tools with others in the community.
            It lets users borrow tools from other users based on their location and tool type preference.
        </b>
        </center>
        <br>
    </p>

<p>
    <center>
    <a href="/" class="btn btn-primary">Home</a>
</center>
</p>

}