@(tools:List[Tools])




<div>
    @for(t <- tools){
    <p>
        Tool: @t.tool_name
    </p>
    <p>
        Owner: @t.tool_owner.getName() | Category: @t.tool_type.cat_name | Borough: @t.borough.bor_name
    </p>
    <p>
        <div class = "row"></div>
        @if(session.containsKey("user_id")){
    <div class="col-md-4 col-sm-4"><a class="btn btn-primary" href="/commentUI/@t.tool_id" role="button">Write Comment</a> | </div>
    <div class="col-md-4 col-sm-4">
    <form action="@routes.Tool.returnTool(t.tool_id)" method="post">
        <button class="btn btn-primary" type="submit">Return Tool</button>|
    </form>
    </div>
    <!-- <a class="btn btn-primary" href="/borrowTool/@t.tool_id" role="button">Return Tool</a> |-->
    }
    <div class="col-md-4 col-sm-4">
    <a class="btn btn-primary" href="/displayCmt/@t.tool_id" role="button">Display Comments</a>
        </div>
    </div>
    </p>
    }
</div>



