@(id:Long, t:Tools, c:List[Comment], search:String, categories:String, borough:String)

@main(""){

    <div>
        Tool: @t.tool_name<br>
        <p>
            @for(cc<-c){
                User: @cc.user.getName() <i>@cc.user.emailAdrs</i><br>
                Posted: @cc.datetime_posted<br>
                Comment:<br>
                @cc.body
                <br>
                <br>
            }
        </p>
        <form class="form-inline" action="@routes.Tool.borrow(t.tool_id)" method="post">
            @if(session.containsKey("user_id") && t.available == 1){
                <input type="submit" class="btn btn-primary" value="Borrow Tool">
            }
            <a href="/search?search=@search&categories=@categories&borough=@borough" class="btn btn-warning">Back</a>
        </form>
    </div>

}