@(username: String, tools: List[ToolCategory], bor:List[Borough], content: Html)

@main("Community Tool Management System") {


<form action="@routes.Application.showUserForm()" method="get">
        @if(!session.containsKey("user_id")){
            <div>

                <button type="submit" class="btn btn-md btn-link" id="userLogin">
                    Log In
                </button>
                Welcome
            </div>
        }
</form>

<form action="@routes.Application.logout()" method="get">
    @if(session.containsKey("user_id")){
    <div>

        <button type="submit" class="btn btn-md btn-link" id="logIn">
            Log Out
        </button>
        Welcome @session.get(session.get("user_id")) |
        <a href="/upload">Add Tools</a> |
        <a href="/inventory">Inventory</a> |
        <a href="/currentBorrow">Current Borrowed</a>
    </div>
    }
</form>


        <form class="navbar-form" role="search" action="@routes.Search.search()" method="get">
            <div class="form-group col-md-6 col-sm-6">
                <input type="search" class="form-control" name="search" placeholder="Search" size="80">
            </div>
            <div class="btn-group col-md-2 col-sm-2" id="categories">
                <select style="height:2.5em;" name="categories">
                    <option value="">All Tools</option>
                    @for(t <- tools){
                    <option value="@t.cat_id">@t.cat_name</option>
                    }
                </select>
            </div>
            <div class="btn-group col-md-2 col-sm-2" id="boroughs">
                <select style="height:2.5em;" name="borough">
                    <option value="">All Borough</option>
                    @for(b <- bor){
                    <option value="@b.bor_id">@b.bor_name</option>
                    }
                </select>
            </div>
            <div class="col-md-1 col-sm-1">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
            <div class="col-md-1 col-sm-1">
                <a href="/" class="btn btn-warning">Reset</a>
            </div>

        </form>
<hr>
<br>
<div id="listing" class="container">
    @content
</div>
}
