@(username: String, tools: List[ToolCategory], bor:List[Borough], posts: List[Tools])

@main("Community Tool Management System") {


<form action="@routes.Application.showUserForm()" method="get">
        @if(!session.containsKey("user_id")){
            <div>

                <button type="submit" class="btn btn-md btn-link" id="userLogin">
                    Log In
                </button>
                Welcome
            </div>
        }
</form>

<form action="@routes.Application.logout()" method="get">
    @if(session.containsKey("user_id")){
    <div>

        <button type="submit" class="btn btn-md btn-link" id="logIn">
            Log Out
        </button>
        Welcome @session.get(session.get("user_id")) |
        <a href="/upload">Add Tools</a>
    </div>
    }
</form>


        <form class="navbar-form navbar-left" role="search">
            <div class="form-group col-md-9 col-sm-9">
                <input type="search" class="form-control" placeholder="Search" size="130">
            </div>
            <div class="btn-group col-md-1 col-sm-1" id="categories">
                <select style="height:2.5em; width:100px;">
                    <option value="">All Tools</option>
                    @for(t <- tools){
                    <option value="@t.cat_id">@t.cat_name</option>
                    }
                </select>
            </div>
            <div class="btn-group col-md-1 col-sm-1" id="boroughs">
                <select style="height:2.5em; width:100px;">
                    <option value="">All Borough</option>
                    @for(b <- bor){
                    <option value="@b.bor_id">@b.bor_name</option>
                    }
                </select>
            </div>
            <div class="col-md-1 col-sm-1">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>

        </form>
<hr>
<div>

    @if(posts.isEmpty()) {
    <h2>No tools available</h2>
    } else {
    <h2>Tools List</h2>
    <ul>
        @for(t <- posts) {
        <li>Tool name: @t.tool_name; Description: @t.tool_desc; Type: @t.tool_type.cat_name; Location:@t.borough.bor_name</li>
        }
    </ul>
    }

</div>

}
