@(message: String)

@main("Community Tool Management System - User Log In") {

<table class="table table-condensed">
    <thead>

    </th><h4><center><b>Register/Sign In</b></center></h4>

    </thead>
<tbody>
<tr>
    <td><b><center>Register</center></b></td>
    <td><b><center>Sign In</center></b></td>
</tr>

@if(flash.containsKey("error")){
<div class="alert alert-danger">
    @flash.get("error")
</div>
}

    <td>

        <center>

            <form action="@routes.Application.signUp()" method="post">

                <div class="form-group">
                    <div class="form-group">
                        <label for="fn" class="control-label">First Name</label>
                        <input type="text" name="first_name" class="form-control" id="fn" size="10">
                    </div>
                    <div class="form-group">
                        <label for="ln" class="control-label">Last Name</label>
                        <input type="text" name="last_name" class="form-control" id="ln">
                    </div>
                    <div class="form-group">
                        <label for="email" class="control-label">
                            Email
                        </label>
                        <input type="email" name="emailAdrs" class="form-control" id="email">
                    </div>
                    <div class="form-group">
                        <label for="password" class="control-label">
                            Password
                        </label>
                        <input type="password" name="password" class="form-control" id="password">
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Register" class="btn btn-primary">
                    </div>
                </div>
            </form>

        </center>


    </td>
    <td>
    <center>
        <form action="@routes.Application.logIn()" method="post">

        <div class="form-group">
            <div class="form-group">
                <label for="emails" class="control-label">
                    Email
                </label>
                <input type="email" name="emailAdrs" class="form-control" id="emails">
            </div>
            <div class="form-group">
                <label for="passwords" class="control-label">
                    Password
                </label>
                <input type="password" name="password" class="form-control" id="passwords">
            </div>
            <div class="form-group">
                <a href="/" class="btn btn-warning">Cancel</a>
                <input type="submit" value="Sign In" class="btn btn-primary">
            </div>
        </div>
        </form>
    </center>

    </td>


</tr>


</tbody>

</table>

}